## A SimpleMovie Recommender System

Here we have used the pandas dataframe for reading files from the database, here it is in csv format.

We have also used the numpy module for converting arrays of data into nparrays for easier calculation

In [5]:
import pandas as pd
import numpy as np

movies contains the data about the movies.

rating contains the data about the user ratings.

genre contains the data about the value assigned to the movie relative to each genre.

In [6]:
movies = pd.read_csv("C:/Users/hp/Desktop/Movie Recomender/movies.csv")
rating = pd.read_csv("C:/Users/hp/Desktop/Movie Recomender/rated.csv")
genre = pd.read_csv("C:/Users/hp/Desktop/Movie Recomender/genre.csv")

Here we have a preview of the datasets

#### movies

In [7]:
movies.head()

,id,MName,length,Myear,IMDb rating,Director_Dname
0,1,The Dark Knight,152,2008,9.0,Christopher Nolan
1,2,Inception,148,2010,8.8,Christopher Nolan
2,3,Jurrasic Park,127,1993,8.1,Steven Speilberg
3,4,Jaws,124,1975,8.0,Steven Speilberg
4,5,The Girl with the Dragon Tatoo,158,2011,7.8,David Fincher

#### rating

In [8]:
rating.head()

   User_Details_User_Id  Movies_id  User_Rating
0                     1          1          9.5
1                     1          2          8.6
2                     1          3          NaN
3                     1          4          6.4
4                     1          5          7.5

#### genre

In [9]:
genre.head()

,Catagory,Scifi,Action,Thriller,Horror,Comedy,Romance,Movies_id
0,Thriller Action,0.2,0.9,0.7,0.0,0.1,0.2,1
1,"Scifi, Thriller, Action",0.8,0.7,0.8,0.0,0.1,0.2,2
2,"Scifi, Thriller",0.8,0.2,0.7,0.2,0.1,0.0,3
3,"Thriller, Action",0.0,0.9,0.8,0.0,0.0,0.0,4
4,Action,0.0,1.0,0.2,0.0,0.0,0.4,5

From the above table we cannot directly process the essential information so we have changed the structure using pivot_table function

In [10]:
test = genre.pivot_table(columns=['Movies_id'])
test

Movies_id,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,19,20,21
Action,0.9,0.7,0.2,0.9,1.0,0.7,0.1,0.9,0.9,0.9,...,0.0,0.0,0.7,0.1,0.4,0.3,0.6,0.0,0.9,0.5
Comedy,0.1,0.1,0.1,0.0,0.0,0.2,0.1,0.3,0.5,0.5,...,0.2,1.0,0.8,0.2,0.1,0.9,0.0,0.1,0.2,0.6
Horror,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.1,0.0,0.0,0.0,0.1,0.0,0.0
Romance,0.2,0.2,0.0,0.0,0.4,0.7,0.0,0.0,0.2,0.2,...,0.0,0.2,0.0,0.2,0.2,0.2,0.0,0.0,0.1,0.2
Scifi,0.2,0.8,0.8,0.0,0.0,0.0,0.0,0.8,0.5,0.5,...,0.2,0.0,0.3,0.9,0.3,0.0,0.0,0.0,0.0,0.0
Thriller,0.7,0.8,0.7,0.8,0.2,0.8,0.9,0.2,0.0,0.0,...,0.3,0.0,0.0,0.8,1.0,0.0,0.4,1.0,0.2,0.1

We are using a very simple algorithm known as the "Pearson's Correlation algorithm". We have created a function to calculate Pearson's r

In [11]:
def pearson(s1,s2):
    s1_c =s1 -s1.mean()
    s2_c =s2 -s2.mean()
    return np.sum(s1_c*s2_c)/np.sqrt(np.sum(s1_c**2)*(np.sum(s2_c**2)))

Let's now display the attributes of 2 movies, say movie with id 1 and movie with id 12

In [12]:
test[1]

Action      0.9
Comedy      0.1
Horror      0.0
Romance     0.2
Scifi       0.2
Thriller    0.7
Name: 1, dtype: float64

In [13]:
test[12]

Action      0.0
Comedy      0.2
Horror      1.0
Romance     0.0
Scifi       0.2
Thriller    0.3
Name: 12, dtype: float64

As you can see from above, the two movies have almost nothing in common.1 is a horror movie, the other is an action movie
Hence when we are running the pearson function we are getting a -ve score

In [14]:
pearson(test[1],test[12])

-0.4840200033657778

Let's take 2 movies that are similar

In [15]:
test[1]

Action      0.9
Comedy      0.1
Horror      0.0
Romance     0.2
Scifi       0.2
Thriller    0.7
Name: 1, dtype: float64

In [16]:
test[11]

Action      0.9
Comedy      0.0
Horror      0.2
Romance     0.0
Scifi       0.0
Thriller    0.7
Name: 11, dtype: float64

In [17]:
pearson(test[1],test[11])

0.9255697646925255

We find these 2 have a high correlation because they are highly similar.

It may also happen that the user hasn't seen many movies, so we use a median function to fill the null values for this computation

In [18]:
rating.User_Rating.fillna(rating.User_Rating.median(),axis=0,inplace=True)

Suppose User 1 is logged in. We want to recommend him/her movies. So we extract the ratings of User 1

In [19]:
x=rating.loc[(rating.User_Details_User_Id == 1)]
x

    User_Details_User_Id  Movies_id  User_Rating
0                      1          1          9.5
1                      1          2          8.6
2                      1          3          7.9
3                      1          4          6.4
4                      1          5          7.5
5                      1          6          7.9
6                      1          7          8.8
7                      1          8          6.3
8                      1          9          7.9
9                      1         10          8.7
10                     1         11          7.5
11                     1         12          7.9
12                     1         13          8.1
13                     1         14          7.9
14                     1         15          8.4
15                     1         16          8.7
16                     1         17          7.9
17                     1         18          6.4
18                     1         19          8.5
19                     1         20          6.5
20                     1         21          4.1

We now find the maximum rated movie. Here we see it is 9.5

In [20]:
y=x.User_Rating.max()
print y

9.5

In [21]:
g =rating.loc[(rating.User_Details_User_Id == 1) & (rating.User_Rating == y)]
g

   User_Details_User_Id  Movies_id  User_Rating
0                     1          1          9.5

Above we have printed the details associated to movie with rating 9.5

Below we have extracted the Movies_id of the highest rated movie

In [22]:
h=list(g.Movies_id)
h

[1L]

Now the following code will compare the movie we got above with the rest of the movies by running Pearson's r. We store it in 'rec'. Then we sort 'rec' in ascending order. We then splice the array and obtain the last 5 elements in rec. These will be having highest corelation with the highest rated movie.

In [23]:
def recommendations(h,test):
    rec = []
    for t in test:
        if t == int(h[0]):
            continue
        cor = pearson(test[t],test[int(h[0])])
        rec.append((t,cor))
    rec.sort(key= lambda tup: tup[1],reverse=True)
    return rec[:5]

In [24]:
res = recommendations(h,test)

res stores the movie id and correlation value

In [25]:
res

[(18L, 0.9769782664926099),
 (4L, 0.9731249587595904),
 (11L, 0.9255697646925255),
 (20L, 0.8159165797315153),
 (5L, 0.7868356195433408)]

In [26]:
int(res[1][0]) #testing to extract only int value

4

In [27]:
calc = []
for i in range(5):
    calc.append(int(res[i][0]))
calc

[18, 4, 11, 20, 5]

Hence we got an array of numbers representing movies similar to choosen movie

Now we display the name of the movies that are similar to choosen movie

In [28]:
for x in calc:
    print movies.MName[x-1]

Singham
Jaws
Dunkirk
Duel
The Girl with the Dragon Tatoo